
.loading-container {
   
  }
  
  .loader {
    text-align: center; /* توسيط النص */
    animation: bounce 1s infinite; /* إضافة تأثير الحركة */
    margin-top: 200px; /* مسافة فوق النص */
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0); /* البداية والنهاية */
    }
    50% {
      transform: translateY(-20px); /* الحركة لأعلى */
    }
  }
  
  .loader img {
    width: 100px; /* عرض الصورة */
    height: auto; /* الحفاظ على النسبة */
    margin-bottom: 10px; /* مسافة أسفل الصورة */
  }
  
  .loader p {
    font-size: 1.5em; /* حجم النص */
    color: #333; /* لون النص */
    margin-top: 10px; /* مسافة فوق النص */
  }
  