.product-card {
  /* background-color: #f9f9f9; */
  /* border: 1px solid #ddd; */
  padding: 20px;
  width: 20%;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  text-align: center;
  text-decoration: none;
  color: black;
  transition: box-shadow 0.3s ease;
}

.product-card h3 {
  color: #D2691E;
}

.product-card img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.product-card:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
}

.products-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.sectionProdact {
  margin-top: -220px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.product-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

a:hover {
  text-decoration: none;
}

.product-card:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* تأثير ظل */
  cursor: pointer;
  text-decoration: none;
}

/* استعلامات الوسائط للشاشات المتوسطة */
@media (max-width: 1200px) {
  .product-card {
      width: 40%; /* تقليل عرض البطاقات */
  }
}

/* استعلامات الوسائط للشاشات الصغيرة */
/* استعلامات الوسائط للشاشات الصغيرة (الهواتف) */
@media (max-width: 768px) {
  .product-card {
    margin-bottom: 20px; /* مسافة بين المنتجات */
    text-align: center;
    font-size: small;
  }
.product-card img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
  }
  .products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* عرض المنتجات واحدًا تلو الآخر */
  }
  .sectionProdact{
    margin-top: 0px;
  }

}
